.check-box {
    /* default properties */
    selected-box-color: transparent;
    box-color: transparent;
    mark-color: transparent;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: transparent;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: transparent;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: transparent;
}