TextField, PasswordField {
    -fx-background-color: #F4F4F4;
    -fx-background-radius:0;
    -fx-border-color: #F4F4F4;
    -fx-prompt-text-fill: black;
}


TextField:focused, PasswordField:focused .label {
    -fx-disabled: false;
}

Label:disabled {
    -fx-color: #F4F4F4;
    -fx-opacity: 0;
}


.positive-button {
    -fx-background-color: #202B30;
    -fx-text-fill: white;
    -fx-font-size:13;
    -fx-font-weight: bold;
}

.negative-button {
    -fx-background-color: #E4E6EB;
    -fx-text-fill: black;
    -fx-font-size: 13;
    -fx-font-weight: bold;
}


JFXTextField, JFXPasswordField, JFXDatePicker, JFXTimePicker,JFXComboBox {
    -fx-pref-width: 325;
    -fx-max-width: 325;
    -fx-font-size:14;

}